theme_config:
  keywords: "doDomoGu, Blog"
  scheme: Gemini

  social:
    GitHub: https://github.com/dodomogu || github

  footer: 
    copyright: doDomoGu
    since: 2014

  menu:
    home: / || home
    tags: /tags || tags
    archives: /archives/ || archive

  menu_settings:
    icons: true
    badges: true
  
  fancybox: true