span.code-inline {
    color:#e96900
}

.posts-expand .post-body .fancybox img.img-inline {
    margin:0;
    padding:0;
    border:none;
}
.posts-expand .post-body img.img-inline {
    border:none;
    padding:0;
    display:inline !important;
    position:relative;
    top:4px;
    left:10px;
}